body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-275px;
  width:865px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:275px;
  top:140px;
  width:865px;
  height:1024px;
}
#u0_img {
  position:absolute;
  left:-3px;
  top:-1px;
  width:871px;
  height:1030px;
}
#u1 {
  position:absolute;
  left:2px;
  top:504px;
  width:861px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:fixed;
  left:240px;
  top:0px;
  width:900px;
  height:130px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/_01_areas/u9_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:auto;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:34px;
  top:32px;
  width:367px;
  height:42px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:42px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  white-space:nowrap;
}
#u5 {
  position:fixed;
  left:0px;
  top:0px;
  width:260px;
  height:710px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:710px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/_01_areas/u30_state0.png');
  background-position:left top;
  background-repeat:repeat-y;
  background-attachment:scroll;
  background-size:auto;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:224px;
  width:240px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:18px;
  width:240px;
  height:161px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:161px;
}
#u9 {
  position:absolute;
  left:2px;
  top:72px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:179px;
  width:240px;
  height:47px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:47px;
}
#u11 {
  position:absolute;
  left:2px;
  top:16px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:324px;
  width:240px;
  height:345px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:345px;
}
#u13 {
  position:absolute;
  left:2px;
  top:164px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:38px;
  top:236px;
  width:93px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:38px;
  top:267px;
  width:139px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:14px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:38px;
  top:295px;
  width:119px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:14px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:0px;
  top:184px;
  width:7px;
  height:140px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:140px;
}
#u21 {
  position:absolute;
  left:2px;
  top:62px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
