body {
  background: #0EF;
  font-family: 'Open Sans', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 72px
}

/* CORPO DO APP */
.wrapper{
  width: 320px;
  height: 480px;
  background: #fff;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* DIVISOR E FOOTER */
.reset {
  position: relative;
  width: 100%;
  height: 10%;
  cursor: pointer;
  font-size: 0.25em;
}

.reset:hover{
  background: rgba(0, 255, 0, 0.3);
}

.reset p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options {
  position: relative;
  width: 100%;
  height: 10%;
  background: #000;
  color: #fff;
  font-size: 0.25em;
}

.options p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* PLAYERS */
.player {
  position: relative;
  width: 100%;
  height: 40%;
  font-size: 1em;
  background-color: #eeeeee;
}

.player-one{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.buttons {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  font-family: 'FontAwesome', sans-serif;
  font-size: 0.75em;
}

.buttons p {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-53%, -50%);
}

.decrease {
  float: left;
  text-align: center;
  width: 50%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.decrease:hover{
  background: rgba(255, 0, 0, 0.3);
}

.increase {
  float: right;
  text-align: center;
  width: 50%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.increase:hover{
  background: rgba(0, 0, 255, 0.3);
}

.value {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
