body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1349px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:1649px;
}
#u0_img {
  position:absolute;
  left:-35px;
  top:-30px;
  width:1419px;
  height:1719px;
}
#u1 {
  position:absolute;
  left:2px;
  top:816px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:300px;
  width:480px;
  height:140px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:140px;
}
#u3 {
  position:absolute;
  left:2px;
  top:62px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:680px;
  top:300px;
  width:480px;
  height:300px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:300px;
}
#u5 {
  position:absolute;
  left:2px;
  top:142px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:190px;
  top:140px;
  width:970px;
  height:90px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:37px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:324px;
  top:260px;
  width:49px;
  height:24px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:446px;
  top:675px;
  width:49px;
  height:24px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:300px;
  top:900px;
  width:49px;
  height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:497px;
  top:153px;
  width:420px;
  height:68px;
  font-size:12px;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:470px;
  height:118px;
}
#u15 {
  position:absolute;
  left:16px;
  top:12px;
  width:388px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:378px;
  top:244px;
  width:97px;
  height:53px;
  font-size:12px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:147px;
  height:103px;
}
#u17 {
  position:absolute;
  left:16px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:210px;
  top:407px;
  width:230px;
  height:53px;
  font-size:12px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:280px;
  height:103px;
}
#u19 {
  position:absolute;
  left:16px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:805px;
  top:424px;
  width:230px;
  height:53px;
  font-size:12px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:280px;
  height:103px;
}
#u21 {
  position:absolute;
  left:16px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:505px;
  top:660px;
  width:115px;
  height:53px;
  font-size:12px;
  text-align:left;
}
#u22_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:165px;
  height:103px;
}
#u23 {
  position:absolute;
  left:16px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:359px;
  top:886px;
  width:151px;
  height:53px;
  font-size:12px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:201px;
  height:103px;
}
#u25 {
  position:absolute;
  left:16px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:181px;
  top:745px;
  width:979px;
  height:130px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:130px;
}
#u27 {
  position:absolute;
  left:2px;
  top:57px;
  width:975px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:548px;
  top:761px;
  width:245px;
  height:96px;
  font-size:12px;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:295px;
  height:146px;
}
#u29 {
  position:absolute;
  left:16px;
  top:12px;
  width:213px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:194px;
  top:722px;
  width:128px;
  height:24px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
}
#u31 {
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:121px;
  top:740px;
  width:231px;
  height:38px;
  font-size:12px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:281px;
  height:88px;
}
#u33 {
  position:absolute;
  left:16px;
  top:12px;
  width:199px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:930px;
  top:270px;
  width:238px;
  height:120px;
  font-size:12px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:288px;
  height:170px;
}
#u35 {
  position:absolute;
  left:16px;
  top:12px;
  width:206px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:956px;
  top:350px;
  width:179px;
  height:26px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:26px;
}
#u37 {
  position:absolute;
  left:2px;
  top:5px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:965px;
  top:910px;
  width:230px;
  height:120px;
  font-size:12px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:280px;
  height:170px;
}
#u39 {
  position:absolute;
  left:16px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:992px;
  top:984px;
  width:176px;
  height:26px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:26px;
}
#u41 {
  position:absolute;
  left:2px;
  top:5px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:965px;
  top:1230px;
  width:200px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u42_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:250px;
  height:100px;
}
#u43 {
  position:absolute;
  left:16px;
  top:12px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:981px;
  top:1242px;
  width:173px;
  height:26px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:26px;
}
#u45 {
  position:absolute;
  left:2px;
  top:5px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:949px;
  top:1431px;
  width:200px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u46_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:250px;
  height:100px;
}
#u47 {
  position:absolute;
  left:16px;
  top:12px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:961px;
  top:1443px;
  width:175px;
  height:26px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:26px;
}
#u49 {
  position:absolute;
  left:2px;
  top:5px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:198px;
  top:1430px;
  width:212px;
  height:53px;
  font-size:12px;
  text-align:left;
}
#u50_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:262px;
  height:103px;
}
#u51 {
  position:absolute;
  left:16px;
  top:12px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:219px;
  top:1444px;
  width:171px;
  height:26px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:26px;
}
#u53 {
  position:absolute;
  left:2px;
  top:5px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
