body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1870px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1870px;
  height:1070px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1870px;
  height:1070px;
}
#u1 {
  position:fixed;
  left:240px;
  top:103px;
  width:570px;
  height:557px;
  overflow:hidden;
}
#u1_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:557px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:1920px;
}
#u2_img {
  position:absolute;
  left:-10px;
  top:-5px;
  width:570px;
  height:1940px;
}
#u3 {
  position:absolute;
  left:2px;
  top:952px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:fixed;
  left:240px;
  top:103px;
  width:550px;
  height:557px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:557px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(246, 246, 246, 1);
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:100px;
  width:548px;
  height:300px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:300px;
}
#u6 {
  position:absolute;
  left:2px;
  top:142px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:19px;
  top:21px;
  width:510px;
  height:99px;
  font-family:'RobotoMono-Bold', 'Roboto Mono Bold', 'Roboto Mono';
  font-style:normal;
  font-size:12px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:99px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
#u9 {
  position:fixed;
  left:240px;
  top:0px;
  width:1080px;
  height:130px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/01_areas/u1_state0.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:auto;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:34px;
  top:32px;
  width:279px;
  height:42px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:42px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:860px;
  top:290px;
  width:630px;
  height:290px;
}
#u12_img {
  position:absolute;
  left:-35px;
  top:-35px;
  width:700px;
  height:360px;
}
#u13 {
  position:absolute;
  left:2px;
  top:137px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:906px;
  top:509px;
  width:127px;
  height:31px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:31px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1319px;
  top:509px;
  width:127px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1112px;
  top:509px;
  width:127px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:15px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1018px;
  top:320px;
  width:314px;
  height:28px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:906px;
  top:380px;
  width:127px;
  height:119px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:119px;
}
#u23 {
  position:absolute;
  left:2px;
  top:52px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1112px;
  top:380px;
  width:127px;
  height:119px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:119px;
}
#u25 {
  position:absolute;
  left:2px;
  top:52px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1319px;
  top:380px;
  width:127px;
  height:119px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:119px;
}
#u27 {
  position:absolute;
  left:2px;
  top:52px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1066px;
  top:380px;
  width:10px;
  height:119px;
  opacity:0.25;
}
#u28_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u28_end {
  position:absolute;
  left:-5px;
  top:102px;
  width:20px;
  height:18px;
}
#u28_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:119px;
}
#u29 {
  position:absolute;
  left:1276px;
  top:380px;
  width:10px;
  height:119px;
  opacity:0.25;
}
#u29_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u29_end {
  position:absolute;
  left:-5px;
  top:102px;
  width:20px;
  height:18px;
}
#u29_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:119px;
}
#u30 {
  position:fixed;
  left:0px;
  top:0px;
  width:260px;
  height:710px;
  overflow:hidden;
}
#u30_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:710px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/01_areas/u22_state0.png');
  background-position:left top;
  background-repeat:repeat-y;
  background-attachment:scroll;
  background-size:auto;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:224px;
  width:240px;
  height:100px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:100px;
}
#u32 {
  position:absolute;
  left:2px;
  top:42px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:18px;
  width:240px;
  height:161px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:161px;
}
#u34 {
  position:absolute;
  left:2px;
  top:72px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:179px;
  width:240px;
  height:47px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:47px;
}
#u36 {
  position:absolute;
  left:2px;
  top:16px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:324px;
  width:240px;
  height:345px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:345px;
}
#u38 {
  position:absolute;
  left:2px;
  top:164px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:38px;
  top:236px;
  width:93px;
  height:14px;
  font-size:12px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:14px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:38px;
  top:267px;
  width:139px;
  height:14px;
  opacity:0.340000003576279;
  font-size:12px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:14px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:38px;
  top:295px;
  width:119px;
  height:14px;
  opacity:0.349999994039536;
  font-size:12px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:14px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:0px;
  top:184px;
  width:7px;
  height:140px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:140px;
}
#u46 {
  position:absolute;
  left:2px;
  top:62px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
