body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1349px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:2226px;
}
#u0_img {
  position:absolute;
  left:-35px;
  top:-30px;
  width:1419px;
  height:2296px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1105px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:382px;
  top:330px;
  width:10px;
  height:34px;
}
#u2_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u2_end {
  position:absolute;
  left:-5px;
  top:17px;
  width:20px;
  height:18px;
}
#u2_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:34px;
}
#u3 {
  position:absolute;
  left:395px;
  top:339px;
  width:30px;
  height:15px;
  color:#FF0000;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:425px;
  top:320px;
  width:230px;
  height:53px;
  font-size:12px;
  text-align:left;
}
#u5_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:280px;
  height:103px;
}
#u6 {
  position:absolute;
  left:16px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:376px;
  top:122px;
  width:10px;
  height:79px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:62px;
  width:20px;
  height:18px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:79px;
}
#u8 {
  position:absolute;
  left:341px;
  top:171px;
  width:80px;
  height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u9 {
  position:absolute;
  left:2px;
  top:1px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:450px;
  top:147px;
  width:230px;
  height:83px;
  font-size:12px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:280px;
  height:133px;
}
#u11 {
  position:absolute;
  left:16px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:523px;
  top:195px;
  width:76px;
  height:25px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:171px;
  top:1850px;
  width:49px;
  height:74px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:74px;
}
#u15 {
  position:absolute;
  left:2px;
  top:29px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:215px;
  top:1807px;
  width:265px;
  height:139px;
  font-size:12px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:315px;
  height:189px;
}
#u17 {
  position:absolute;
  left:35px;
  top:12px;
  width:214px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:223px;
  top:1808px;
  width:23px;
  height:117px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:117px;
}
#u19 {
  position:absolute;
  left:2px;
  top:50px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:fixed;
  left:2px;
  top:50%;
  margin-top:-155px;
  width:238px;
  height:310px;
  overflow:hidden;
}
#u20_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:310px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:35px;
  top:35px;
  width:157px;
  height:231px;
  font-size:12px;
  text-align:left;
}
#u21_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:207px;
  height:281px;
}
#u22 {
  position:absolute;
  left:16px;
  top:12px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:48px;
  top:87px;
  width:64px;
  height:28px;
  font-size:24px;
  color:#D7D7D7;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:48px;
  top:120px;
  width:76px;
  height:28px;
  font-size:24px;
  color:#D7D7D7;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:48px;
  top:152px;
  width:62px;
  height:28px;
  font-size:24px;
  color:#D7D7D7;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:48px;
  top:185px;
  width:100px;
  height:28px;
  font-size:24px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:48px;
  top:217px;
  width:72px;
  height:28px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:24px;
  color:#D7D7D7;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:28px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:48px;
  top:47px;
  width:56px;
  height:16px;
  font-size:14px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:48px;
  top:67px;
  width:130px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:113px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:4px;
  width:130px;
  height:2px;
}
