body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1349px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:2624px;
}
#u0_img {
  position:absolute;
  left:-35px;
  top:-30px;
  width:1419px;
  height:2694px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1304px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:1400px;
  width:970px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:510px;
  top:1414px;
  width:350px;
  height:53px;
  font-size:12px;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:400px;
  height:103px;
}
#u5 {
  position:absolute;
  left:16px;
  top:12px;
  width:318px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:204px;
  top:882px;
  width:42px;
  height:10px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:10px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-3px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:246px;
  top:882px;
  width:8px;
  height:10px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:10px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-3px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:85px;
  top:860px;
  width:134px;
  height:53px;
  font-size:12px;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:184px;
  height:103px;
}
#u11 {
  position:absolute;
  left:16px;
  top:12px;
  width:102px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:460px;
  top:893px;
  width:10px;
  height:20px;
}
#u12_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u12_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u12_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u13 {
  position:absolute;
  left:478px;
  top:875px;
  width:320px;
  height:53px;
  font-size:12px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:370px;
  height:103px;
}
#u14 {
  position:absolute;
  left:16px;
  top:12px;
  width:288px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:190px;
  top:290px;
  width:770px;
  height:440px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:440px;
}
#u16 {
  position:absolute;
  left:2px;
  top:212px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:740px;
  top:530px;
  width:238px;
  height:130px;
  font-size:12px;
  text-align:left;
}
#u17_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:288px;
  height:180px;
}
#u18 {
  position:absolute;
  left:16px;
  top:12px;
  width:206px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:628px;
  top:2360px;
  width:442px;
  height:90px;
  font-size:12px;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:492px;
  height:140px;
}
#u20 {
  position:absolute;
  left:16px;
  top:12px;
  width:410px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:644px;
  top:2404px;
  width:406px;
  height:26px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:26px;
}
#u22 {
  position:absolute;
  left:2px;
  top:5px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:800px;
  top:620px;
  width:60px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u24 {
  position:fixed;
  left:2px;
  top:50%;
  margin-top:-155px;
  width:238px;
  height:310px;
  overflow:hidden;
}
#u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:310px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:35px;
  top:35px;
  width:157px;
  height:231px;
  font-size:12px;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:-25px;
  top:-20px;
  width:207px;
  height:281px;
}
#u26 {
  position:absolute;
  left:16px;
  top:12px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:48px;
  top:87px;
  width:64px;
  height:28px;
  font-size:24px;
  color:#D7D7D7;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:28px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:48px;
  top:120px;
  width:76px;
  height:28px;
  font-size:24px;
  color:#000000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:28px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:48px;
  top:152px;
  width:62px;
  height:28px;
  font-size:24px;
  color:#D7D7D7;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:48px;
  top:185px;
  width:100px;
  height:28px;
  font-size:24px;
  color:#D7D7D7;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:48px;
  top:217px;
  width:72px;
  height:28px;
  font-family:'Arial-BoldItalicMT', 'Arial Bold Italic', 'Arial';
  font-weight:700;
  font-style:italic;
  font-size:24px;
  color:#D7D7D7;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:28px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:48px;
  top:47px;
  width:56px;
  height:16px;
  font-size:14px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:48px;
  top:67px;
  width:130px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:113px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:4px;
  width:130px;
  height:2px;
}
