body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:54px;
  top:32px;
  width:1366px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:54px;
  top:826px;
  width:1366px;
  height:768px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u3 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:54px;
  top:1640px;
  width:1366px;
  height:768px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u5 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:54px;
  top:2482px;
  width:1366px;
  height:768px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u7 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1466px;
  top:32px;
  width:1366px;
  height:768px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u9 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1466px;
  top:826px;
  width:1366px;
  height:768px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u11 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:54px;
  top:3272px;
  width:1366px;
  height:768px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u13 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:54px;
  top:4050px;
  width:1366px;
  height:768px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u15 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1466px;
  top:1640px;
  width:1366px;
  height:768px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u17 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:3020px;
  top:156px;
  width:1304px;
  height:644px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:644px;
}
#u19 {
  position:absolute;
  left:2px;
  top:314px;
  width:1300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:3166px;
  top:980px;
  width:1304px;
  height:645px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:645px;
}
#u21 {
  position:absolute;
  left:2px;
  top:314px;
  width:1300px;
  visibility:hidden;
  word-wrap:break-word;
}
