body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1260px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:385px;
  top:-120px;
  width:490px;
  height:1130px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:1130px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(236, 236, 236, 1);
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:158px;
  top:1px;
  width:943px;
  height:669px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:669px;
}
#u2 {
  position:absolute;
  left:2px;
  top:326px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:1010px;
  width:1260px;
  height:660px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:660px;
}
#u4 {
  position:absolute;
  left:2px;
  top:322px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:482px;
  top:940px;
  width:295px;
  height:37px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:37px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:490px;
  top:1720px;
  width:280px;
  height:37px;
  text-decoration:underline;
  color:#0000FF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:37px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:530px;
  top:1850px;
  width:200px;
  height:100px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u10 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
