@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,400italic,700,700italic);

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box; }

@media only screen and (min-width: 30em) {
  .md-1-cols {
    width: 8.33333%; }

  .md-2-cols {
    width: 16.66667%; }

  .md-3-cols {
    width: 25%; }

  .md-4-cols {
    width: 33.33333%; }

  .md-5-cols {
    width: 41.66667%; }

  .md-6-cols {
    width: 50%; }

  .md-7-cols {
    width: 58.33333%; }

  .md-8-cols {
    width: 66.66667%; }

  .md-9-cols {
    width: 75%; }

  .md-10-cols {
    width: 83.33333%; }

  .md-11-cols {
    width: 91.66667%; }

  .md-12-cols {
    width: 100%; } }
@media only screen and (min-width: 20em) {
  .sm-1-cols {
    width: 8.33333%; }

  .sm-2-cols {
    width: 16.66667%; }

  .sm-3-cols {
    width: 25%; }

  .sm-4-cols {
    width: 33.33333%; }

  .sm-5-cols {
    width: 41.66667%; }

  .sm-6-cols {
    width: 50%; }

  .sm-7-cols {
    width: 58.33333%; }

  .sm-8-cols {
    width: 66.66667%; }

  .sm-9-cols {
    width: 75%; }

  .sm-10-cols {
    width: 83.33333%; }

  .sm-11-cols {
    width: 91.66667%; }

  .sm-12-cols {
    width: 100%; } }
body, nav, header, div, section, footer, h1, h2, h3, h4, h5, h6, ul {
  display: block; }

body {
  font: normal normal 16px/1.6 "Raleway", "Helvetica Neue", Helvetica, sans-serif; }

.row {
  display: block;
  overflow: hidden;
  padding: 1.5rem; }
  .row.content {
    overflow: hidden;
    padding-bottom: 2rem; }

.bloco {
  display: block;
  overflow: hidden;
  min-height: 1px; }

.card, a.card {
  text-decoration: none;
  color: inherit;
  padding: 1em;
  margin: 0 0 1rem;
  position: relative;
  background: transparent url(../img/elementos/textura.png);
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -webkit-moz-border-radius: 5px;
  border-radius: 5px; }
  .card.card-paciente, a.card.card-paciente {
    position: relative;
    top: 0; }
    .card.card-paciente:after, a.card.card-paciente:after {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 100%;
      height: .1rem;
      background: #fe5260;
      opacity: 0; }
    .card.card-paciente:hover, a.card.card-paciente:hover {
      top: -.2em; }
      .card.card-paciente:hover:after, a.card.card-paciente:hover:after {
        opacity: 1; }

.botao, a.botao {
  text-align: center;
  text-decoration: none;
  border: 0;
  padding: 1rem 1.2rem;
  display: inline-block;
  font: normal 700 0.9em/1.6 "Raleway", "Helvetica Neue", Helvetica, sans-serif;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -webkit-moz-border-radius: 5px;
  border-radius: 5px; }
  .botao.botao-magenta, a.botao.botao-magenta {
    background-color: #fe5260;
    color: #ffffff; }
  .botao.botao-cinza, a.botao.botao-cinza {
    background-color: #666666;
    color: #fff; }
    .botao.botao-cinza.escuro, a.botao.botao-cinza.escuro {
      background-color: #353535;
      color: #ffffff;
     }
  .botao.centralizado, a.botao.centralizado {
    display: block;
    margin: auto; }
  .botao.botao-searchform, a.botao.botao-searchform {
    display: inline-block;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .botao:hover, a.botao:hover {
    opacity: 0.85; }

  .botao.float-left{margin-right:1em;}
  .botao.float-right{margin-left:1em;}

.input, .textarea {
  border: 0;
  padding: .5rem;
  font: normal normal 0.9em/1.6 "Raleway", "Helvetica Neue", Helvetica, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -webkit-moz-border-radius: 5px;
  border-radius: 5px; }
  .input.input-searchform, .textarea.input-searchform {
    display: inline-block;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 4em; }
  .input:focus, .textarea:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2); }

.textarea {
  padding: .5rem; }
  .textarea.no-resize {
    resize: none; }

.label {
  font-weight: 700;
  margin-top: 1rem; }
  .label.label-busca {
    color: #ffffff; }
  .label.label-valor {
    font-size: 0.9em; }
  .label.pequeno {
    font-size: 0.9em; }
  .label:after, .label:before {
    content: " ";
    display: table;
    clear: both; }

.busca .label {
  display: inline-block; }

.info {
  padding-right: 1em;
  margin-bottom: 1em;
  float: left; }
  .info .lista-valores {
    margin-top: .5rem; }
    .info .lista-valores li {
      margin-right: 1rem; }

input[type="radio"], input[type="checkbox"] {
  display: none; }

.radio, .checkbox {
  margin-bottom: .5rem; }
  .radio label, .checkbox label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 1em; }
    .radio label:before, .checkbox label:before {
      content: "";
      border: 1px solid rgba(0, 0, 0, 0.2);
      display: inline-block;
      position: relative;
      line-height: 31%;
      margin-right: .5rem;
      width: 1rem;
      height: 1rem;
      vertical-align: middle;
      text-align: center; }

.radio label:before {
  -webkit-border-radius: 50%;
  -webkit-moz-border-radius: 50%;
  border-radius: 50%; }

.checkbox label:before {
  -webkit-border-radius: 5px;
  -webkit-moz-border-radius: 5px;
  border-radius: 5px; }

input[type="radio"]:checked + label:before {
  content: "✔";
  color: #3CB371;
  font-size: 2rem;
  line-height: .1; }

input[type="checkbox"]:checked + label:before {
  content: "✔";
  color: #3CB371;
  font-size: 2rem;
  line-height: .1; }

.nav {
  font-size: 0.9em;
  color: #1a1a1a;
  background: transparent url(../img/elementos/textura.png) repeat; }
  .nav.nav-esquerda {
    float: left;
    height: 100vh; }
  .nav .nav-logo {
    height: 10em;
    text-align: center;
    padding-top: 1em;
    margin-bottom:2em;
   }
  .nav .nav-ul .nav-li {
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .nav .nav-ul .nav-li:hover {
      color: #ffffff;
      background: #fe5260; }
    .nav .nav-ul .nav-li:first-of-type {
      border: 0; }
    .nav .nav-ul .nav-li a {
      display: block;
      color: inherit;
      text-decoration: none;
      padding: 1.5em; }
      .nav .nav-ul .nav-li a:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 1.2em;
        width: 1.2em;
        vertical-align: text-bottom;
        background: transparent url() no-repeat center/contain;
        margin-right: .5rem; }
    .nav .nav-ul .nav-li.pacientes a:before {
      background-image: url(../img/icones/paciente-magenta.png); }
    .nav .nav-ul .nav-li.pacientes:hover a:before {
      background-image: url(../img/icones/paciente-branco.png); }
    .nav .nav-ul .nav-li.cadastro a:before {
      background-image: url(../img/icones/cadastro-magenta.png); }
    .nav .nav-ul .nav-li.cadastro:hover a:before {
      background-image: url(../img/icones/cadastro-branco.png); }
    .nav .nav-ul .nav-li.configs a:before {
      background-image: url(../img/icones/configs-magenta.png); }
    .nav .nav-ul .nav-li.configs:hover a:before {
      background-image: url(../img/icones/configs-branco.png); }

.main {
  position: relative;
  overflow: auto;
  height: 100vh;
  background: transparent url("../img/elementos/content-bg.jpg") no-repeat scroll 0% 0%/cover; }

.breadcrumbs {
  font-size: 0.9em;
  font-weight: 700; }
  .breadcrumbs a {
    color: inherit;
    text-decoration: none; }
    .breadcrumbs a:hover {
      text-decoration: underline; }
  .breadcrumbs .profile-pic {
    height: 2rem;
    width: 2rem;
    -webkit-border-radius: 50%;
    -webkit-moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle; }
    .breadcrumbs .profile-pic img {
      width: 100%;
      height: auto; }
  .breadcrumbs .separador {
    margin: 0 .5em; }

.tabs-container .tab-labels .tab-label {
  cursor: pointer;
  padding: 1rem;
  padding-bottom: 1.5em;
  position: relative;
  display: inline-block;
  background: transparent url(../img/elementos/textura.png);
  -webkit-border-radius: 5px;
  -webkit-moz-border-radius: 5px;
  border-radius: 5px; }
  .tabs-container .tab-labels .tab-label .tab-icon {
    width: .75rem;
    height: auto;
    display: inline-block;
    vertical-align: baseline;
    margin-right: .3rem; }
.tabs-container .tab-labels .current-label {
  z-index: 99; }
.tabs-container .tabs {
  position: relative;
  top: -1em; }
  .tabs-container .tabs .tab {
    display: none;
    list-style: none; }
    .tabs-container .tabs .tab.current-tab {
      display: block !important; }

.inline-list li {
  display: inline-block; }

.no-list {
  list-style: none; }

.no-float {
  float: none; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.centralizado {
  float: none;
  margin: auto; }

.editar {
  background: transparent url(../img/icones/editar-magenta.png) no-repeat center/1rem;
  float: right; }

.cancelar {
  background: transparent url(../img/icones/cancelar-magenta.png) no-repeat center/0.9rem;
  float: right; }

.lixo {
  background: transparent url(../img/icones/trash.png) no-repeat center/0.9rem;
  float: right;
}

.salvar {
  float: right; }

.excluir {
  float: left; }

.card.consultas .descricao {
  margin-bottom: 1em; }
.card.consultas ul.lista-valores li {
  margin-right: 2em; }
.card.consultas ul.lista-valores .label-valor {
  font-size: 0.9em;
  font-weight: 700; }
.card.consultas ul.lista-valores .valor .input {
  width: 3em;
  vertical-align: bottom;
  resize: none; }
.card.consultas ul.lista-valores .valor .grande {
  font-weight: 700;
  font-size: 2.5em; }
.card.consultas ul.lista-valores .estatistica {
  display: table;
  margin: 1rem auto;
  text-align: center;
  padding: 0.25rem .5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -webkit-moz-border-radius: 5px;
  border-radius: 5px; }
.card.refeicoes .porcoes {
  list-style: inside;
  padding-right: 1em;
  vertical-align: middle; }
  .card.refeicoes .porcoes li {
    line-height: 2.5em; }
    .card.refeicoes .porcoes li .content-input {
      vertical-align: middle; }
  .card.refeicoes .porcoes li .content-input::active{
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
  }
    .card.refeicoes .porcoes li.nova-porcao {
      display: none; }

.card footer {
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }
.card .titulo {
  display: block; }
  .card .titulo.content-input {
    margin-bottom: .5em;
    display: none; }
  .card .titulo textarea, .card .titulo input {
    font-weight: 700; }
.card.editavel .editar {
  visibility: hidden; }
.card.editavel .cancelar, .card.editavel .salvar, .card.editavel .excluir {
  display: none; }
.card.editavel:hover .editar {
  visibility: visible; }
.card.editavel .content-input {
  display: none; }
.card.editando footer {
  border-top: 1px solid #e8e8e8;
  margin-top: 2em;
  padding-top: 1em; }
.card.editando .salvar, .card.editando .excluir, .card.editando .cancelar {
  display: block; }
.card.editando .editar {
  display: none; }
.card.editando .titulo {
  display: none; }
  .card.editando .titulo.content-input {
    display: inline-block; }
.card.consultas.editando .content {
  display: none; }
.card.consultas.editando .content-input {
  display: inline-block; }
.card.refeicoes.editando li.porcao {
  display: list-item;
  cursor: pointer; }
  .card.refeicoes.editando li.porcao .content {
    display: inline-block !important; }
  .card.refeicoes.editando li.porcao .content {
    display: none; }
.card.refeicoes.editando li.nova-porcao, .card.refeicoes.editando li.editando {
  display: list-item; }
  .card.refeicoes.editando li.nova-porcao .content, .card.refeicoes.editando li.editando .content {
    display: none !important; }
  .card.refeicoes.editando li.nova-porcao .content-input, .card.refeicoes.editando li.editando .content-input {
    display: inline-block; }

/* ajusta o tamanho do input de porção */
.card.refeicoes .porcoes {
list-style: inside none disc;
padding-right: 1em;
vertical-align: middle;
display: inline-block;
}

.card.refeicoes.editando li.nova-porcao, .card.refeicoes.editando li.editando {
display: list-item;
margin-bottom: 0.25rem;
width: 350px;
}

.card.refeicoes.editando li.nova-porcao .content-input, .card.refeicoes.editando li.editando .content-input {
display: inline-block;
width:80%;
}

/* Adiciona botão de excluir refeição */
.porcao.editando .excluir-porcao, .nova-porcao .excluir-porcao {
    content: '';
    width: 30px;
    height: 30px;
    background: transparent url("../img/icones/trash.png") no-repeat scroll center center / 0.9rem auto;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}


.modal-alert {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.1s ease-out 0s;
  -moz-transition: all 0.1s ease-out 0s;
  transition: all 0.1s ease-out 0s; }
  .modal-alert .card {
    padding: 0; }
  .modal-alert .botao {
    margin: 1.5rem; }
  .modal-alert .dialog {
    display: table;
    vertical-align: middle;
    top: 35vh; }
  .modal-alert .consideracoes {
    padding: 1.5em;
    text-align: center;
    line-height: 2;
    color: #ffffff;
    background: #fe5260; }
  .modal-alert.modal-visible {
    visibility: visible;
    opacity: 1; }

.login-form {
  top: 25%;
  min-height: 20em; }
  .login-form .label {
    display: none; }
  .login-form .input {
    width: 100%;
    font-size: 1.5em; }
    .login-form .input:last-of-type {
      margin-bottom: 1em; }
  .login-form footer {
    text-align: center; }
  .login-form .recuperar-password {
    color: #aaaaaa;
    font-size: .9rem;
    text-decoration: none;
    display: inline-block;
    margin: 1em auto;
    -webkit-transition: all 0.1s ease-out 0s;
    -moz-transition: all 0.1s ease-out 0s;
    transition: all 0.1s ease-out 0s; }
    .login-form .recuperar-password:hover {
      color: #fe5260; }
  .login-form .login-error {
    margin: 1rem auto 0;
    font-size: 0.8em;
    color: #ffffff;
    padding: .5rem;
    background: #aaaaaa;
    -webkit-border-radius: 5px;
    -webkit-moz-border-radius: 5px;
    border-radius: 5px; }

.erro {
  font-weight: normal;
  font-size: 0.8em;
  color: red;
  padding: 0.1em 0.5em;
  margin-bottom: 0.5em;
  background: rgba(255, 0, 0, 0.07); }

.erroTransparente {
  visibility: hidden;
  font-weight: normal;
  font-size: 0.8em;
  color: red;
  padding: 0.1em 0.5em;
  margin-bottom: 0.5em;
  background: rgba(255, 0, 0, 0.07);
}

.complementoErro {
  display: table; }

.info .input {
  width: 100%; }

.radio .textarea {
  vertical-align: baseline; }

/*my css*/

.nomeRefeicao {
  margin-right: 5px;
}

.hideError {
  display: none;
}

.align-right {
  float: right;
}

.logo-img {
  margin-top:1em;
  width:120px;
  height:120px;
}
/*end my css*/

#main {
  position: relative;
}

.loader-container {
  position: absolute;
  top: 40%;
  left: 50%;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.loader-overlay{
  position:absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  z-index: 999;
}

.loader-overlay::after{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.loader-wrapper {
  display: inline-block;
  vertical-align: middle;
  position:relative;
  width:50px;
  height:50px;
}

.spinner {
  display: block;
  position:absolute;
  width:50px;
  height:50px;
  border-radius: 50%;
  border: 1px solid #FE5260;
}

.spinner-mask {
  position:absolute;
  overflow: hidden;

  width: 50%;
  height:100%;

  -moz-animation: load 1.3s infinite;
  -webkit-animation: load 1.3s infinite;
  animation: load 1.3s infinite;

  transform-origin: 25px;
}

.spinner-line {
  display: block;
  position:absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #FE5260;
}

@keyframes load {
  from {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hide-div {
  display: none !important;
}